<footer class="max-w-7xl mx-auto sm:px-6 lg:px-8">
  <div class="py-6 md:flex md:items-center md:justify-between">
    <div class="flex mt-4 justify-center md:mt-0 ">
      <span class="text-sm text-gray-500 dark:text-gray-300 sm:justify-center sm:text-center">
        Marine Cloud <%= Date.today.year %>
      </span>
    </div>
    <div class="flex mt-4 justify-center md:mt-0">
      <span class="text-sm text-gray-500 dark:text-gray-300 sm:text-center py-4">
        Partnered with ZEP Marine
      </span>
      <%= image_tag 'zep-marine.png', alt: 'ZEP Marine', class: 'block h-12 w-auto' %>
    </div>
  </div>
</footer>
