<a class="blank_state blank-state relative block w-full border-2 border-gray-300 border-dashed rounded-lg p-6 text-center hover:border-gray-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" href="<%= @url %>">
  <span class="mt-2 block text-sm font-medium text-gray-900"><%= @title %></span>
</a>
