<div class="px-4 py-5 mb-5 bg-white shadow rounded-lg overflow-hidden sm:p-6">
  <dt class="text-xl font-semibold text-gray-900 truncate"><%= parameter.name %></dt>
  <dd class="mt-1"><%= system.name %></dd>
  <%= column_chart measurements,
                   id: "average-vessel-chart-#{system.name}-#{parameter.name}",
                   height: '150px',
                   library: {
                     yAxis: {
                       plotLines: satisfactory_ranges.map do |limit|
                         {
                           width: 2.5,
                           value: limit.value,
                           color: limit.color,
                           label: {
                             text: limit.value,
                             align: 'right',
                             textAlign: 'right',
                             y: -5,
                             style: {
                               color: limit.color
                             }
                           }
                         }
                       end
                     },
                   }
  %>
</div>

