<div class="px-4 py-5 mb-5 bg-white shadow rounded-lg overflow-hidden sm:p-6">
  <% if parameter %>
    <dt class="text-xl font-semibold text-gray-900 truncate"><%= parameter.name %></dt>
  <% end %>
  <% if system %>
    <dd class="mt-1"><%= system.name %></dd>
  <% end %>
  <% if parameter.unit %>
    <dd class="mt-1"><%= parameter.unit %></dd>
  <% end %>
  <%= column_chart measurements,
                   height: '300px',

                   library: {
                     yAxis: {
                       plotLines: satisfactory_ranges.map do |limit|
                         {
                           width: 2.5,
                           value: limit.value,
                           color: limit.color,
                           label: {
                             text: limit.value,
                             align: 'right',
                             textAlign: 'right',
                             y: -5,
                             style: {
                               color: limit.color
                             }
                           }
                         }
                       end
                     },
                     colors: %w[#7cb5ec #e39e39 #90ed7d #f7a35c #8085e9 #f15c80 #e4d354 #2b908f #f45b5b #91e8e1]
                   }
  %>
</div>

