<div class="vessel-line-separator relative" id="<%= system_name.gsub(" ", "_").underscore.dasherize %>-separator">
  <div class="vessel-system-name relative flex justify-center">
    <span class="px-3 py-5 bg-white-100 text-lg font-medium"> <%= system_name %> </span>
  </div>
</div>
