<div class="px-4 py-5 mb-5 bg-white shadow rounded-lg overflow-hidden sm:p-6">
  <dt class="text-sm font-medium text-gray-500 truncate"><%= trackable_metric.name %></dt>
  <dd class="mt-1 text-3xl font-semibold text-gray-900"><%= trackable_metric.last_value %></dd>
  <%= line_chart trackable_metric.trend, height: "150px" %>
</div>
