<div id="uploadManualMeasurementsDataModal" tabindex="-1" aria-hidden="true" class="hidden fixed top-0 right-0 left-0 z-50 w-full h-modal overflow-x-hidden overflow-y-auto md:inset-0 h-modal md:h-full">
  <div class="relative p-4 w-full h-full max-w-2xl p-4 md:h-auto">
    <%= form_for :vessel, method: :post, url: url_for(controller: 'manual_measurements_data_uploads', action: 'create', vessel_id: resource.id) do |f| %>
      <div class="relative bg-white rounded-lg shadow">
        <!-- Modal header -->
        <div class="flex items-start justify-between p-4 border-b rounded-t">
          <h3 class="text-md font-semibold text-gray-900">
            Manual measurements XLSX upload
          </h3>
          <button type="button" data-modal-toggle="uploadManualMeasurementsDataModal">
            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
          </button>
        </div>
        <!-- Modal body -->
        <div class="p-6 space-y-6">
          <%= f.file_field :manual_measurements_data_file, id: "formFile", class: 'form-control px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none' %>
        </div>
        <!-- Modal footer -->
        <div class="flex items-center p-6 space-x-2 border-t rounded-b">
          <button data-modal-toggle="uploadManualMeasurementsDataModal" type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-md text-sm px-5 py-2.5 text-center">Send</button>
          <button data-modal-toggle="uploadManualMeasurementsDataModal" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-md border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10">Cancel</button>
        </div>
      </div>
    <% end %>
  </div>
</div>
