<p>
  Dear C/E,<br/><br/>

  This serves as a kind reminder to upload latest month's water analysis CSV file and ZEP Excel form to <a href="<%= @url %>">www.marinecloud.com</a>,<br/><br/>

  Thanks in advance.<br/><br/>

  Kind regards,<br/>
  Marine Cloud
</p>
