<div class="grid grid-cols-1 mt-6">
  <%= render partial: 'partials/vessels_index_filters', locals: { start_date: date_range.begin, end_date: date_range.end, vessel_group_ids: vessel_group_ids } %>
</div>

<%= render partial: 'partials/vessel_groups', locals: {
  groups: current_user.vessel_groups,
  active_group_ids: selected_vessel_group_ids
} %>

<div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
  <% vessels.each do |vessel| %>
    <%= render CardComponent.new(
      title: vessel.name,
      description: "#{image_tag 'icons/date-upload.svg', class: 'inline-block'} Last upload: #{vessel.last_data_upload&.to_date}",
      icon: vessel.country.flag_file.present? ? image_tag(vessel.country.flag_file) : (user_avatar vessel.name, size: 28, colors: 45),
      link: vessel_path(vessel)
    ) %>
  <% end %>
</div>
