<div class="grid grid-cols-1 mt-6">
  <%= render partial: 'partials/vessels_index_filters', locals: { start_date: date_range.begin, end_date: date_range.end, vessel_group_ids: vessel_group_ids } %>
</div>

<div class="text-sm mb-6 font-medium text-center text-gray-500 border-b border-gray-200">
    <ul class="flex flex-wrap -mb-px">
        <li class="mr-2">
            <a href="#" class="inline-block text-blue-600 p-4 rounded-t-lg border-b-2 border-blue-600 active" aria-current="page">All</a>
        </li>
      <% current_user.vessel_groups.each do |vessel_group| %>
        <li class="mr-2">
          <a href="#" class="inline-block p-4 rounded-t-lg border-b-2 border-blue-600 border-b-transparent"><%= vessel_group.name %></a>
        </li>
      <% end %>
    </ul>
</div>

<div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
  <% collection.each do |vessel| %>
    <%= render CardComponent.new(
      title: vessel.name,
      description: vessel.vessel_group.name,
      icon: user_avatar(vessel.name, size: 28, colors: 45),
      link: vessel_path(vessel)
    ) %>
  <% end %>
</div>
