<div class="grid grid-cols-1 mt-6">
  <%= render partial: 'partials/dashboard_vessel_filters', locals: {
    selected_chemical_provider: selected_chemical_provider,
    chemical_providers: chemical_providers,
    available_parameters: available_parameters,
    selected_parameters: selected_parameters,
    start_date: date_range.begin,
    end_date: date_range.end,
    vessel_group_ids: vessel_group_ids
  } %>
  <ul class="flex flex-wrap">
    <li class="grow">&nbsp;</li>

    <%= render partial: 'partials/vessels_search_form', locals: {
      keep_params: keep_params, vessel_search_query: vessel_search_query
    } %>
  </ul>
  <% grouped_parameters_by_system.each do |tag_or_system, parameters| %>

    <div class="grid grid-cols-1 mt-6">
      <% if tag_or_system.is_a?(System) %>
        <% parameters.each do |parameter| %>
          <%= render partial: 'partials/average_dashboard_chart',
                     locals: {
                       satisfactory_ranges: AverageVesselSystemParameterSatisfactoryRanges.result_for(
                         system: tag_or_system, parameter: parameter,
                         chemical_provider: selected_chemical_provider,
                       ),
                       measurements: AverageVesselSystemParameterMeasurements.result_for(
                         parameter: parameter, vessel_ids: vessel_ids,
                         system: tag_or_system,
                         date_range: date_range
                       ), system: tag_or_system, parameter: parameter }
          %>
        <% end %>
      <% else %>
        <% parameters.each do |parameter| %>
          <%= render partial: 'partials/average_dashboard_chart',
                     locals: {
                       measurements: AverageMeasurementsForMultipleParameters.result_for(
                         parameter: parameter, vessel_ids: vessel_ids, tag: tag_or_system,
                         date_range: date_range
                       ), satisfactory_ranges: [], system: nil, parameter: parameter }
          %>

        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
