<%= render HeaderComponent.new title: resource.name %>
<div class="mt-8 max-w-3xl mx-auto grid grid-cols-1 gap-6 sm:px-6 lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-3">
  <div class="space-y-6 lg:col-start-1 lg:col-span-2">
    <%= render BlankStateComponent.new(
      title: 'Filters will be here',
      url: '#'
    ) %>

    <% @trackable_metrics.each do |trackable_metric| %>
      <%= render partial: 'partials/line_chart', locals: { trackable_metric: trackable_metric } %>
    <% end %>
  </div>

  <section class="lg:col-start-3 lg:col-span-1">
    <%= render BlankStateComponent.new(
      title: 'Comments will be here',
      url: '#'
    ) %>
  </section>
</div>
