@media print {
    body {-webkit-print-color-adjust: exact;}
    .pagebreak { page-break-before: always; } /* page-break-after works, as well */
}

.btn-primary {
    @apply inline-flex items-center justify-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-blue-500;
}

.btn-secondary {
    @apply inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-indigo-700 bg-indigo-100 hover:bg-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500;
}

.btn-white {
    @apply inline-flex items-center justify-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-blue-500;
}


.string_input, .phone_input, .email_input, .text_input, .select_input {
    @apply mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md;
}

.inline-hints {
    @apply mt-2 text-sm text-gray-500;
}

/*.tooltip {*/
/*    @apply invisible absolute;*/
/*}*/

.has-tooltip:hover .tooltip {
    @apply visible z-50;
}

.singleExercise:hover .trashButton{
    display: flex;
}

.highcharts-annotation-label, .highcharts-annotation-label * {
    display: none;
}

.home-background {
    height: 270px;
    margin-bottom: -200px;
    background-image: url('home-page-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.home-report-header {
    font-size: 18px;
    line-height: 28px;
}

/* discussion window */
section.discussion {
    position: fixed;
    bottom: 0px;
    right: 10vw;
    height: 360px;
    width: 340px;
}
section.discussion.discussion-hidden {
    width: 0;
    height: 0;
}
section.discussion .discussion-window {
    transform: translateY(0);
    transition: transform .2s;
    transform-origin: bottom;
}

section.discussion.discussion-hidden .discussion-window {
    transform: translateY(100%);
    pointer-events: none;
}

section.discussion .discussion-toggle {
    position: fixed;
    bottom: 20px;
    right: 50px;
    display: none;
}

section.discussion.discussion-hidden .discussion-toggle {
    display: initial;
}

.vessel-flag {
    width: 28px;
    height: 28px;
}

.initials svg {
    display: inline;
}