.export-page {
    overflow: hidden;
}

.export-page .page-export-screen {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background-color: rgba(50, 50, 50, 0.9);
}

.export-page .page-export-info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.export-page .page-export-info h1 {
    color: #eeeeee;
    font-size: 4em;
    font-weight: bold;
}

.export-page .export-content {
    width: 1900px;
}

.export-page section.vessel {
    display: block;
    max-width: 100%;
}

.export-page .vessel-charts {
    display: block;
}

.export-page .vessel-line-separator {
    margin-top: 4em !important;
}

.export-page .vessel-line-separator .vessel-system-name {
    line-height: 4;
    margin-top: -3em;
}

.export-page .message-heading {
    line-height: 4;
    font-size: 2em;
    font-weight: bold;
}

.export-page .vessel-charts h3 {
    margin-bottom: 1em;
}

.export-page .vessel-charts .chart-name {
    line-height: 4;
    margin-bottom: -1.5em;
    margin-top: -2em;
}

.export-page .vessel-charts .chart-name + * {
    line-height: 2;
}

.export-page .vessel-charts .chart-statistics dt {
    line-height: 4;
    margin-bottom: -1.5em;
    margin-top: -1.5em;
    margin-left: 8px;
}

.export-page .vessel-charts .chart-statistics dd {
    line-height: 2;
    margin-top: -1.5em;
    margin-left: 8px;
}
